server:
  port: 8081

spring:
  profiles: test

  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://39.98.138.221:8512/blogBigDataSystem?zeroDateTimeBehavior=convertToNull&useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
    driver-class-name: com.mysql.jdbc.Driver
    type: org.springframework.jdbc.datasource.DriverManagerDataSource
    dbcp2:
      min-idle: 10
      initial-size: 10
      max-wait-millis: 60000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      validation-query: select 'x'
      test-while-idle: true
      test-on-borrow: true
      test-on-return: false
      pool-prepared-statements: true
      remove-abandoned-on-borrow: true
      remove-abandoned-on-maintenance: true
      connection-init-sqls: set names utf8mb4

  jpa:
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy:  org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true

  elasticsearch:
    rest:
      uris: 39.98.138.221:8510
      #多媒体系统地址:47.93.185.66:9400
      #博客大数据系统地址:39.98.138.221:8510

logging:
    level:
      com:
        example:
          blogBigDataSystem:
            mapper : debug
